.centrado{
    text-align: center;
}
.red{
    color: red;
}

h1,h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
form{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}
header {
    background-color: rgba(79, 175, 199, 0.26);
}
